.custom-button,
.custom-button:active {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  background-color: #3498db;
  outline: none;

  &:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.14);
  }

  &:active {
    box-shadow: none;
  }
}
