.note-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3rem;
  background-color: #fff;

  &__close {
    align-self: flex-end;
    font-size: 1.8rem;
    color: #ff0000;
    cursor: pointer;
  }
}
